   (вкл)
󰤭   (выкл)

󰤨   (сеть есть)
󰤭   (нет сети)

󰤟  󰤢  󰤥  󰤨

●   (online)
○   (offline)

󰤨 / 󰤭

 / 󰤭

󰈀   (подключено)
󰈂   (нет сети)

󰈀   (on)
󰈗   (off)

󰌗   (connected)
󰌙   (disconnected)

󰈀 / 󰈂

🔌   (on)
❌   (off)

󰈀 / 󰈂
